* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
  scroll-behavior: smooth;
}

:root {
  --backgroundColor: #111;
  --primary-text-color: #f4f4f4;
  --bgButtonColor: #51c655d4;
  --bgButtonColorHover: #348d37;
  --taskBgColor: #222;
  --taskColor: #07351bd8;
  --deleteButton: rgb(200, 20, 20);
  --noTaskButton: rgb(134, 26, 26);
  --inputText: #9d9d9d;

  /* padding */
  --navPadding: 0.7rem 3rem;
  --sectionPadding: 1rem 1.5rem;

  --padding-sm: 0.7rem 1rem;
  --padding-md: 1rem 2rem;
  --padding-lg: 2rem 4rem;

  /* border-radius */
  --borderRadius: 5px;
  --borderRadius-sm: 3px;
  --borderRadius-md: 8px;
  --borderRadius-lg: 10px;

  /* font-size */
  --fontSize-sm: 0.8rem;
  --fontSize-md: 1rem;
  --fontSize-lg: 1.2rem;
  --fontSize-xl: 1.5rem;
  --fontSize-xxl: 2rem;

  /* gap */
  --gap: 1rem;
  --gap-sm: 0.5rem;
  --gap-md: 1.5rem;
  --gap-lg: 2rem;

  /* box-shadow */
  --boxShadow: 0 15px 20px rgba(4, 56, 1, 0.325);

  /* transition */
  --transition: all 0.6s ease-in-out;
}

main {
  height: 100vh;
  width: 100%;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}
body {
  background-color: var(--backgroundColor);
  color: var(--primary-text-color);
}

/* nav */
nav {
  padding: var(--navPadding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  font-family: cursive;
}
nav .imgText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
nav .img img {
  width: 2rem;
  height: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav button {
  background-color: var(--bgButtonColor);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: var(--padding-sm) var(--padding-sm);
  cursor: pointer;
  border-radius: var(--borderRadius-md);
  opacity: 0.9;
  transition: var(--transition);
  font-family: cursive;
}
nav button:hover {
  scale: 0.98;
  background-color: var(--bgButtonColorHover);
  border-radius: var(--borderRadius-md);
}
nav .mid h3 {
  font-size: 1.6rem !important;
}
nav .left h2,
nav .mid h3 {
  font-size: 2.2rem;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    var(--primary-text-color),
    var(--bgButtonColor)
  );
  background-size: 100% 200%;
  background-position: left center;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: difference;

  -webkit-user-select: none;
  user-select: none;

  transition: background-size 0.4s ease-in-out;
}
nav .left h2:hover {
  background-size: 200% 100%;
}

/* section */
section {
  padding: var(--sectionPadding);
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  /* background-color: rebeccapurple; */
  flex-grow: 1;
  overflow: hidden;
}
section .taskColumn {
  background-color: var(--taskBgColor);
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: var(--boxShadow);
  overflow-y: auto;

  /* IE / Edge (legacy) */
  -ms-overflow-style: none;
}
.taskColumn::-webkit-scrollbar {
  display: none;
}

section .taskColumn.hover-over {
  border: 1.5px solid var(--bgButtonColorHover);
  scale: 1.03;
}
section .taskColumn .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  font-size: var(--fontSize-lg);
  padding: var(--padding-sm);
  font-family: cursive;
  background: linear-gradient(
    135deg,
    var(--bgButtonColorHover) 60%,
    var(--bgButtonColor) 40%
  );
  text-transform: uppercase;
}
section .taskColumn .task {
  background: var(--taskColor);
  padding: var(--padding-sm);
  border-radius: var(--borderRadius-md);
  width: 95%;
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  cursor: grab;
}

section .taskColumn .task button {
  align-self: flex-end;
  background-color: var(--deleteButton);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  border-radius: var(--borderRadius-sm);
  cursor: pointer;
  font-family: cursive;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.modal.active {
  display: flex;
}
.modal .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 1;
  transition: var(--transition);
}
.modal .center {
  width: 30%;
  background-color: var(--backgroundColor);
  padding: var(--padding-lg);
  border-radius: var(--borderRadius-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  box-shadow: var(--boxShadow);
  z-index: 10;
}
.modal .center input,
textarea {
  font-family: cursive;
  background-color: var(--taskBgColor);
  border: none;
  outline: none;
  padding: var(--padding-sm);
  color: var(--primary-text-color);
  border-radius: var(--borderRadius-sm);
}
.modal .center textarea {
  width: 100%;
  min-height: 100px;
}

.modal .center input::placeholder,
.modal .center textarea::placeholder {
  color: var(--inputText);
}
.modal .last button {
  width: 100% !important;
  background-color: var(--noTaskButton) !important;
  color: var(--primary-text-color) !important;
}
.modal .center button,
.last button {
  background-color: var(--bgButtonColor);
  border: none;
  outline: none;
  padding: var(--padding-sm);
  color: var(--primary-text-color);
  border-radius: var(--borderRadius-sm);
  transition: var(--transition);
  cursor: pointer;
  width: 80%;
  align-self: center;
  font-family: cursive;
}
.modal .center button:hover {
  background-color: var(--bgButtonColorHover);
  scale: 0.95;
}
.modal .last button:hover {
  background-color: var(--deleteButton) !important;
  scale: 0.95;
}

/* Utils */
.empty-text {
  text-align: center;
  display: none;
  color: #999;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.task-date {
  font-size: 0.9rem;
  color: #999;
  display: block;
  margin: 4px 0 6px;
}
.task-due {
  font-size: 1rem;
  font-size: 0.75rem;
  color: #cc4440;
  display: block;
}
.task-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-md);
  /* margin-top: 0.8rem; */
}
.task.completed h2 {
  text-decoration: line-through;
  opacity: 0.6;
}
.task.completed p {
  opacity: 0.7;
}
.done-btn {
  /* background-color: #2e7d32; */
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}
.done-btn:hover {
  background-color: #1b5e20;
}
.task.completed .done-btn {
  background-color: #2e7d32;
  cursor: default;
}

/* Edit Modal specific */
.edit-modal .center button {
  background-color: #4caf50;
}

.edit-modal .center button:hover {
  background-color: #43a047;
}

.edit-modal .last button {
  background-color: var(--noTaskButton) !important;
}

.edit-modal .last button:hover {
  background-color: var(--deleteButton) !important;
}
