* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: rgb(14, 14, 14);
  color: #e4e4e4;
  overflow: hidden;
}
main {
  width: 100%;
}

main,
section {
  height: 100vh;
  width: 100%;
  padding: 3vw;
  display: flex;
  gap: 3vw;
}
section .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  width: 60%;
}
section .right {
  width: 40%;
  height: 91.5vh;
  background: #6643431f;
  padding: 3vw;
  border-radius: 1vw;
}
section .top {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}
section .label {
  padding: 0.7vw 1.3vw;
  border-radius: 0.6vw;
  outline: none;
  cursor: pointer;
  border: 0.5px solid #664343;
}

section .btn {
  padding: 0.7vw 1.3vw;
  border: none;
  outline: none;
  border-radius: 0.6vw;
  background-color: rgb(225, 226, 227);
  color: #000;
  font-size: 1vw;
  cursor: pointer;
}

section .bottom {
  background-color: #6643432d;
  width: 100%;
  aspect-ratio: 4/3.03;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6vw;
}

section .right h1 {
  text-align: left;
  margin-bottom: 1vw;
  margin-top: 1vw;
  text-transform: capitalize;
  color: #963c3c;
}
section .right .filters {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

section .right .filter {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  justify-content: flex-end;
}
section .right .filter input {
  width: 75%;
  outline: none;
  margin-top: 0.5vw;
  appearance: none;
}

section .right .filter input::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(154, 14, 14);
  margin-top: -8.5px;
}
section .right .filter input::-webkit-slider-runnable-track {
  background-color: #d5d5d5;
  height: 3px;
  border-radius: 2px;
}
section .right .filter .labelp {
  font-size: 1.2vw;
}

canvas {
  max-width: 90%;
  max-height: 80vh;
  display: none;
}

.presets {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}
